@import "./_variables";
@import "./variables_modified";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_bootswatch";

ul {
    overflow-x: auto;
    list-style-type: none;
}

.Card img {
    width: 120px;
}

.Card {
    text-align: center;
}